<%= link_to  "Return to home", cocktails_path, class: "btn btn-secondary ml-5" %>


<br>
<br>

<div class="card-trip">
  <% if @cocktail.photo.attached? %>
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <div class="card-trip-infos ml-5">
    <div>
      <h1><%= @cocktail.name %></h2>
      <% @cocktail.doses.each do |dose| %>
          <h2><%= dose.description %></h2>
          <h2><%= dose.ingredient.name %></h2>
          <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </ul>
      <% end %>
    </div>
    
  </div>
</div>
<br>
<br>
<%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %><br>

